/*
.latest-article { padding: 4px 0 3px; border-top: 1px dotted #B9B9B9; }
.latest-article:first-child { border: 0; }
.latest-article-title { font-weight: bold;}
.latest-article-title a { color: #4F4F4F; }
.latest-article-date { margin: 0 0 0 10px; font-weight: normal; font-size: 9px; color: #7F7F7F; }
.latest-article-more { text-align: right; text-transform: uppercase; }

.article-picture { float: right; width: 210px; margin: 0 0 20px 20px; }
.article-picture img { display: block; padding: 2px; border: 1px solid #B9B9B9; }
.article-date { font-style: italic; margin: 0 0 10px; }
.article-lead { font-weight: bold; margin: 15px 0; }

.article-list-article { padding: 20px 0 10px; border-top: 1px dotted #B9B9B9; }
.article-list-article:first-child { border: 0; }
.article-list-picture { float: left; width: 120px; height: 90px; margin: 0 10px 0 0; }
.article-list-picture img { display: block; padding: 2px; border: 1px solid #B9B9B9; }
.article-list-body { float: left; width: 575px; }
.article-list-title { font-weight: bold; font-size: 14px; }
.article-list-title a { color: #003E7E; }
.article-list-date { margin: 0 0 0 10px; font-weight: normal; font-size: 9px; color: #7F7F7F; }
.article-list-more { text-align: right; text-transform: uppercase; }

.comment-list { margin: 20px 0 0; }
.comment-list-item { min-height: 40px; margin: 5px 0; padding: 3px; border-top: 1px solid #C8C8C8; }
.comment-list-picture { float: left; width: 40px; height: 40px; margin: 0 10px 6px 0; }
.comment-list-info { margin: 0 0 3px; }
.comment-list-user { font-weight: bold; }
.comment-list-date { font-style: italic; }
.comment-moderated { color: red; }
*/