.form{padding-top:35px;border-top:1px solid #999;margin-left:0px}.form-field{height:50px;line-height:50px}.field-content select{height:36px;width:150px}.field-content input{width:138px;height:36px}.data-display .data tbody td{background:#fff}p.text-danger-form{margin:0;position:absolute}
/*# sourceMappingURL=form.css.map */
