.toolbar { margin: 30px 0 20px; }
.toolbar a { display: block; float: left; margin: 0 10px 0 0; padding: 5px 8px 3px 26px; font-weight: bold; text-transform: uppercase; color: #FFF; background: #575757; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.toolbar a.copy { background: #575757 url(http://server.uniadmin.hu/gfx/5.0/filemanager/icon-copy.png) no-repeat 4px 4px; }
.toolbar a.cut { background: #575757 url(http://server.uniadmin.hu/gfx/5.0/filemanager/icon-cut.png) no-repeat 4px 4px; }
.toolbar a.paste { background: #575757 url(http://server.uniadmin.hu/gfx/5.0/filemanager/icon-paste.png) no-repeat 4px 4px; }
.toolbar a.upload { background: #575757 url(http://server.uniadmin.hu/gfx/5.0/filemanager/icon-upload.png) no-repeat 4px 4px; }
.toolbar a.folder { background: #575757 url(http://server.uniadmin.hu/gfx/5.0/filemanager/icon-folder.png) no-repeat 4px 4px; }
.path { clear: both; padding: 10px 0; font-weight: bold; color: #00B3B6; }
.directory-list { position: absolute; left: 370px; width: 240px; max-height: 400px; padding: 2px; border: 1px solid #CBCBCB; overflow: auto; }
.directory-list a { color: #545454; }
.directory-list a.active { font-weight: bold; }
.file-list { float: left; margin-left: 260px; max-height: 400px; overflow: auto; }
.file-list a { cursor: default; }
.file-list a.selected { color: #FFF; background: #00B3B6; }
.toolbar-views { float: right; }
.toolbar-views span { display: none; }
.toolbar-views a { display: block; float: left; width: 20px; height: 20px; margin: 0 5px; padding: 0; background-color: none; }
.toolbar-views .view-details { background: url(http://server.uniadmin.hu/gfx/5.0/filemanager/icon-details-off.png) no-repeat 2px 2px; }
.toolbar-views .view-details-on { background: url(http://server.uniadmin.hu/gfx/5.0/filemanager/icon-details-on.png) no-repeat 2px 2px; }
.toolbar-views .view-icons { background: url(http://server.uniadmin.hu/gfx/5.0/filemanager/icon-icons-off.png) no-repeat 2px 2px; }
.toolbar-views .view-icons-on { background: url(http://server.uniadmin.hu/gfx/5.0/filemanager/icon-icons-on.png) no-repeat 2px 2px; }

.details-file-list { width: 100%; }
.details-file-list thead td { font-weight: bold; text-transform: uppercase; background: #EEE; }
.details-file-list td { padding: 3px 5px; }
.details-file-list tbody tr:hover td { color: #FFF; background: #03ACB6; }
.details-file-list a { color: #545454; }
.details-file-list tbody tr:hover a { color: #FFF; }
.icons-file-list a { display: block; float: left; width: 120px; height: 120px; margin: 0 10px 10px 0; padding: 5px 3px 2px; text-align: center; overflow: hidden; background: #FFF; }
.icons-file-list a:hover { box-shadow: 2px 2px 2px #CCC; -moz-box-shadow: 2px 2px 2px #CCC; -webkit-box-shadow: 2px 2px 2px #CCC; }
.file-thumbnail { display: block; height: 80px; margin: 0 0 10px; }
