#documentPreview {
	position: absolute;
	width: 490px;
	height: 580px;
	padding: 10px;
	background: #FFF;
}
#documentPreview iframe {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}
tbody .preview {
	color: #03ACB6;
}