#date-format-examples {
	position: absolute;
	top: 160px;
	left: 640px;
	width: 400px;
	padding: 15px;
	background: #FFF;
	border: 1px solid #CBCBCB;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#date-format-examples table {
	width: 400px;
	margin: 10px 0 0;
}
p.info {
	font-weight: bold;
}
#uniadmin_main .field-label {
	width: 140px;
}